body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#my-button{
    font-size: 2rem;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: lightblue;
    border: none;
}

#my-label{
    font-size: 3rem;
    display: block;
    margin-top: 25px;
}